* {
  margin: 0%;
  padding: 0%;
  outline: 0;
  vertical-align: baseline;
}

body {
  margin: 0%;
  padding: 0%;
}

.container {
  margin: 0%;
  padding: 0%;
  min-width: 100vw;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 51, 0.5), rgba(0, 0, 51, 0.5)), url("business-computer-connection-270640.jpg");
}

.row {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

[class*=col-] {
  width: 100%;
  min-height: 50vh;
  height: 50vh;
  -moz-flex-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  [class*=col-] {
    height: 100vh;
  }
}

@media only screen and (min-width: 600px) {
  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.66%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.66%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }
}
.form-container {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .form-container {
    height: 60vh;
  }
}

.heading-container,
.form-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 769px) {
  .heading-container,
.form-container {
    top: 50%;
    transform: translateY(-50%);
  }
}

h1 {
  color: #fff;
  margin: auto;
  align-self: center;
  align-items: center;
  align-content: center;
  padding: 10%;
  padding-left: 20%;
}
@media only screen and (min-width: 769px) {
  h1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

form {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  border-radius: 5px;
  padding: 8%;
}

input[type=text],
input[type=tel],
input[type=email],
button {
  margin: 5%;
  font-size: 1em;
  padding: 3%;
  padding-left: 10%;
  width: 100%;
  border-radius: 8px;
  border: none;
}

button[type=submit] {
  border: 1px white solid;
  background-color: #1c2746;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
