body {
  margin: 0%;
  padding: 0%;
}

.container {
  margin: 0% auto;
  padding: 0%;
  width: 50%;
  display: inline-block;
  align-self: auto;
  align-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    height: min-content;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.center {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .col-1 {
    width: 100%;
    height: 50%;
  }

  .col-2 {
    width: 100%;
    height: 50%;
  }

  .col-3 {
    width: 100%;
    height: 50%;
  }

  .col-4 {
    width: 100%;
    height: 50%;
  }

  .col-5 {
    width: 100%;
    height: 50%;
  }

  .col-6 {
    width: 100%;
    height: 50%;
  }

  .col-7 {
    width: 100%;
    height: 50%;
  }

  .col-8 {
    width: 100%;
    height: 50%;
  }

  .col-9 {
    width: 100%;
    height: 50%;
  }

  .col-10 {
    width: 100%;
    height: 50%;
  }

  .col-11 {
    width: 100%;
    height: 50%;
  }

  .col-12 {
    width: 100%;
    height: 50%;
  }
}
.container-flex {
  margin: 0%;
  padding: 0%;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-around;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 51, 0.5), rgba(0, 0, 51, 0.5)), url("business-computer-connection-270640.jpg");
}
@media only screen and (max-width: 768px) {
  .container-flex {
    min-height: min-content;
    min-width: min-content;
  }
}

.contain-form {
  width: 100%;
  height: 100%;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .contain-form {
    padding: 15%;
  }
}

h1 {
  padding: 10%;
  font-size: 2em;
  font-weight: bolder;
  font-family: "Didact Gothic", sans-serif;
  font-stretch: ultra-expanded;
  color: #fff;
  margin: 10%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

form {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8%;
  align-self: center;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  font-family: "Didact Gothic", sans-serif;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 769px) {
  form {
    left: 25%;
    right: 25%;
  }
}
@media only screen and (max-width: 768px) {
  form {
    left: 0%;
    top: 0%;
    right: 0%;
    padding: 5%;
  }
}

input[type=text],
input[type=email],
input[type=tel],
button[type=submit] {
  color: grey;
  font-size: 0.9em;
  background-color: #fff;
  margin: 5%;
  font-size: 200;
  padding: 3%;
  padding-left: 10%;
  width: 100%;
  border-radius: 5px;
  border: 0px solid;
  font-family: inherit;
  font-weight: 300;
}

button[type=submit] {
  color: white;
  font-weight: 900;
  background-color: darkslateblue;
  border: 1px white solid;
  padding: 3%;
}

/*# sourceMappingURL=styles.css.map */
